#welcome-section {
	background-color: #87c541;
	color: white;
	font-weight: bold;
}

@media (min-width: 768px) {
	#welcome-section {
		background-image: url("../img/bg.jpg");
		background-repeat: repeat;
	}
}

#welcome-section .btn--lg {
	font-size: 120%;
    padding: 5px 30px;
}

#startup-office-image {
	height: 325px;
}

#about-section > .container .switchable__text {
	margin-top: 0;
}

@media (min-width: 992px) {
	#about-section > .container .switchable__text {
		margin-top: 4em;
	}
}

@media (min-width: 1025px) {
	#about-section > .container .switchable__text {
		margin-top: 1em;
	}
}

@media (min-width: 1200px) {
	#about-section > .container .switchable__text {
		margin-top: 6em;
	}
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-100 {
	margin-bottom: 100px;
}

#menu1 .menu-horizontal {
	margin-top: 3px;
	font-size: 110%;
}

@media (max-width: 767px) {
	#menu1 .menu-horizontal {
		margin-bottom: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 120%;
	}
}

#services-intro {
	margin-top: 100px;
}

#about-portfolio {
	margin-top: 150px;
}

@media(max-width: 560px) {
	#about-portfolio {
		margin-top: 100px;
	}
}

.service-individual-content {
	margin-top: 3.8em;
}

@media (min-width: 768px) {
	.service-individual-content {
		margin-top: -2em;
	}
}

@media (min-width: 992px) {
	.service-individual-content {
		margin-top: 0;
	}
}


@media (min-width: 1200px) {
	.service-individual-content {
		margin-top: 3.8em;
	}
}

#portfolio-header-image {
	max-height: 400px;
}

#portfolio-header-image .background-image-holder {
	background: url("../img/startup-office-lg.jpg");
	opacity: 1;
}

#portfolio-past-work .row:not(:first-child) {
	margin-top: 25px;
}

#portfolio-past-work .portfolio-technologies {
	font-size: 85%;
    border-top: 1px #eeeeee solid;
    margin-top: 10px;
    padding-top: 8px;
}
