#welcome-section {
	background-color: #87c541;
	color: white;
	font-weight: bold;
}

#startup-office-image {
	height: 325px;
}

#about-section > .container .switchable__text {
	margin-top: 0;
}

@media (min-width: 992px) {
	#about-section > .container .switchable__text {
		margin-top: 4em;
	}
}

@media (min-width: 1025px) {
	#about-section > .container .switchable__text {
		margin-top: 1em;
	}
}

@media (min-width: 1200px) {
	#about-section > .container .switchable__text {
		margin-top: 6em;
	}
}

@media(max-width: 560px) {
	#about-section {
		padding-bottom: 0; 
	}
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-100 {
	margin-bottom: 100px;
}

#menu1 .menu-horizontal {
	margin-top: 5px;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 120%;
}

#services-intro {
	margin-top: 100px;
}

#about-portfolio {
	margin-top: 150px;
}

.service-individual-content {
	margin-top: 3.8em;
}

@media (min-width: 768px) {
	.service-individual-content {
		margin-top: -2em;
	}
}

@media (min-width: 992px) {
	.service-individual-content {
		margin-top: 0;
	}
}


@media (min-width: 1200px) {
	.service-individual-content {
		margin-top: 3.8em;
	}
}