@media (min-width: 768px) {
	#welcome-section-cityscape {
		background-image: url("../img/cityscape-bg.svg");
		background-size: 1364px 156px;
		background-repeat: no-repeat;
		background-position: center bottom;
	    height: 156px;
	    margin-top: -120px;
	}
}

#welcome-section {
	font-weight: bold;
}

@media (min-width: 768px) {
	#welcome-section .btn {
		margin-bottom: 40px;
	}
}

#startup-office-image img {
	margin-bottom: 10px;
}

#startup-office-image p {
	text-align: center;
}

@media (max-width: 991px) {
	#startup-office-image {
		margin-top: 15px;
		text-align: center;
	}
}

#about-section > .container .switchable__text {
	margin-top: 0;
}

@media (min-width: 992px) {
	#about-section > .container .switchable__text {
		margin-top: 4em;
	}
}

@media (min-width: 1025px) {
	#about-section > .container .switchable__text {
		margin-top: 1em;
	}
}

@media (min-width: 1200px) {
	#about-section > .container .switchable__text {
		margin-top: 6em;
	}
}

#client-testimonials h2 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-100 {
	margin-bottom: 100px;
}

#menu1 .menu-horizontal {
	margin-top: 3px;
	font-size: 110%;
}

@media (max-width: 767px) {
	#menu1 .menu-horizontal {
		margin-bottom: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 150%;
		text-align: center;
	}
}

.green-background-feature {
	background-color: #87c541;
	border-top: none;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    background-color: #87c541;
    background-attachment: fixed;
    color: white;
}

#about-portfolio {
	border: none;
    padding: 120px 0;
}

#about-portfolio h2 {
	font-weight: bold;
}

#blog-signup-form {
	margin-top: 45px;
}

#blog-signup-submit {
	float: right;
    width: 30%;
    margin-left: 0px;
}

#blog-signup-submit input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
}

#blog-signup-email {
    float: right;
    width: 70%;
}

#blog-signup-email input {
	height: 45px;
}

@media (min-width: 1025px) {
	#blog-signup-email input {
		height: 49px;
	}
}

#contact-form-submit {
    margin-top: 5px;
    width: 150px;
}

.service-individual-content {
	margin-top: 3.8em;
}

@media (min-width: 768px) {
	.service-individual-content {
		margin-top: -2em;
	}
}

@media (min-width: 992px) {
	.service-individual-content {
		margin-top: 0;
	}
}

@media (min-width: 1200px) {
	.service-individual-content {
		margin-top: 3.8em;
	}
}

#portfolio-header-image {
	max-height: 400px;
}

#portfolio-header-image .background-image-holder {
	background: url("../img/startup-office-lg.jpg");
	opacity: 1;
}

@media (min-width: 992px) {
	#portfolio-past-work .row:not(:first-child) {
		margin-top: 25px;
	}
}

#portfolio-past-work .portfolio-technologies {
	font-size: 85%;
    border-top: 1px #eeeeee solid;
    margin-top: 10px;
    padding-top: 8px;
}

.portfolio-city {
    font-size: 65%;
    margin-top: 10px;
    padding-top: 8px;
    margin-left: 4px;
}

#portfolio-walkthrough h2 {
	margin-bottom: 50px;
}

#portfolio-walkthrough-video {
	text-align: center;
}

#portfolio-walkthrough-video iframe {
	max-width: 640px;
}

